$violetclair: #b68dc0
$jaune : #F4B532
$gris : #F0F0F0
$violet : #482F5D
@font-face 
	font-family: "gotham"
	src: url(../../system/fonts/Gotham-ExtraLight.otf) format("otf")


body
	#content
		margin-top: 270px
		width: 289px

		.ksk
			display: none