$violetclair: #b68dc0
$jaune : #F4B532
$gris : #F0F0F0
$violet : #482F5D
//492863
body
	background : $gris
	font-weight : lighter
	margin: 0 
	font-family: gotham

	#navbar
		background : $violet
		font-family: 'Arvo', serif
		color: white
		vertical-align: top
		height: 70px

		img 
			float: left
			padding: 28px
			display: inline-block
		a, .hidden, li
			display: none

		

	#leftcontent, #rightcontent
		position: relative
		vertical-align: top
		margin: auto

		h2 
			font-family: 'Arvo', serif
			color: $violet
			font-weight: normal
			font-size : 33px
			margin: 20px 0

		hr
			border: solid 2px $violet
			width: 470px
			margin-left: 0
	
	#leftcontent
		display: none
		border: 2px solid red
		width: 530px
		vertical-align: top

		h1 
			padding: 0 auto

		.help
			width: 470px
			text-align: justify

	#rightcontent
		background-color: white
		border: 2px solid green
		width: 90%
		padding: 0 auto
		vertical-align: top


		form
			textarea
				resize: none
				background: $gris
				font-size: 20px
				font-family: gotham
				border: none
				color: $violet
				line-height: 1.5
				height: 200px
				width: 470px
				padding: 20px

			input[type="submit"]
				color: white
				background: $jaune
				padding: 5px 100px
				font-size: 30px
				border: none
				font-weight: lighter
				font-family: gotham
				display: block

			select
				border: 2px solid yellow
				font-family: gotham
				font-size: 16px
				font-weight: lighter
				padding: 50px auto









