$violetclair: #b68dc0
$jaune : #ffce00
$gris : #F0F0F0
$violet : #482F5D
//492863
body
	background : $gris
	font-weight : lighter
	margin: 0 
	font-family: gotham


	#navbar
		background : $violet
		font-family: 'Arvo', serif
		color: white

		a
			text-decoration: none
			color: $gris
			font-size: 20px
			font-weight: normal

	#leftcontent, #rightcontent
		display: block
		margin: 0 auto

		h2 
			font-family: 'Arvo', serif
			color: $violet
			font-weight: normal
			font-size : 33px
			margin: 20px 0

		hr
			border: solid 2px $violet
			width: 470px
			margin-left: 0
	
	#leftcontent
		border: 2px solid red
		width: 80%
		//margin-left: 40px

		.help
			text-align: justify

	#rightcontent
		background-color: white
		border: 2px solid green
		width: 530px
		padding: 0 auto


		form
			textarea
				resize: none
				background: $gris
				font-size: 20px
				font-family: gotham
				border: none
				color: $violet
				line-height: 1.5
				height: 200px
				width: 470px
				padding: 20px


