$violetclair: #b68dc0
$jaune : #F4B532
$gris : #F0F0F0
$violet : #482F5D
//492863
body
	background : $gris
	font-weight : lighter
	margin: 0 
	font-family: gotham

	#navbar
		background : $violet
		font-family: 'Arvo', serif
		color: white
		vertical-align: top
		height: 70px
		padding-right: 10%

		.menu 
			float: left
			padding: 28px
			display: none

		img
			float: left
			width: 160px
			margin: 7px 12%

		.aide
			display: none

		a
			text-decoration: none
			color: $gris
			font-size: 20px
			font-weight: normal
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease

		ul

			li
				display: inline-block
				text-decoration: none
				padding: 20px 40px
				float: right

		a:hover
			color: $jaune
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease

	#allcontent
		display: block
		//border: pink 3px solid
		width: 77%
		margin: 0 auto

	#leftcontent, #rightcontent
		display: inline-block
		vertical-align: top
		margin: 30px auto

		h2 
			font-family: 'Arvo', serif
			color: $violet
			font-weight: normal
			font-size : 33px
			margin: 20px 0

		hr
			border: solid 2px $violet
			width: 93.5%
			margin-left: 0
			margin-bottom: 30px
	
	#leftcontent
		//border: 2px solid red
		width: 45%
		vertical-align: top
		float: left

		h1 
			font-size: 40px
			padding: 0 auto
			text-align: center

			img
				position: absolute
				width: 55px

			img:first-child
				margin-left: -80px
				margin-top: -20px


			img:last-child
				margin-left: 30px
				//margin-top: -20px

		.help
			width: 94%
			text-align: justify
			padding-left: 0
			margin-top: 0

			li
				list-style-type: none
				margin-bottom: 17px

	#rightcontent
		background-color: white
		float: right
		// border: 2px solid green
		width: 45%
		vertical-align: top
		margin-left: 5%
		padding-left: 30px
		box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		-moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		-webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		
		h2
			padding-right: 31px

		.chiffrement
			display: none
		

		form
			textarea
				resize: none
				background: $gris
				font-size: 20px
				font-family: gotham
				border: none
				color: $violet
				line-height: 1.5
				height: 200px
				width: 94%
				padding: 20px
				margin-bottom: 40px

			input[type="submit"]
				color: white
				background: $jaune
				padding: 5px 17%
				font-size: 30px
				border: none
				font-weight: lighter
				font-family: gotham
				display: inline-block
				vertical-align: top
				margin-right: 6%
				float: right

			select
				border-radius: 0
				width: 40%
				padding: 5px 10%
				line-height: 1
				border: 0
				height: 45px
				-webkit-appearance: none
				font-family: gotham
				font-size: 20px
				background: url(../../assets/img/fleche-select.png) no-repeat right #ddd









