$violetclair: #b68dc0
$jaune : #F4B532
$gris : #F0F0F0
$violet : #482F5D
$footer : #191919
@font-face 
	font-family: "Gotham"
	src: url(../fonts/Gotham-ExtraLight.otf)

@font-face 
	font-family: "GothamBold"
	src: url(../fonts/Gotham-Medium.otf)

body
	background : $gris
	font-weight : lighter
	margin: 0 
	font-family: "Gotham"

	#navbar
		background : $violet
		font-family: 'Arvo', serif
		color: white
		vertical-align: top
		height: 70px
		padding-right: 10%

		.menu 
			float: left
			padding: 28px
			display: none
			width: 200px

		img
			float: left
			width: 160px
			margin: 7px 12%

		.aide
			display: none

		a
			text-decoration: none
			color: $gris
			font-size: 20px
			font-weight: normal
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease

		ul

			li
				display: inline-block
				text-decoration: none
				padding: 20px 40px
				float: right

		a:hover
			color: $jaune
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease

	#allcontent
		display: block
		//border: pink 3px solid
		width: 77%
		margin: 0 auto
		max-height: 800px
		margin-bottom: 600px

	#leftcontent, #rightcontent
		display: inline-block
		vertical-align: top
		margin: 30px auto

		h2 
			font-family: 'Arvo', serif
			color: $violet
			font-weight: normal
			font-size : 33px
			margin: 20px 0

		hr
			border: solid 2px $violet
			width: 93.5%
			margin-left: 0
			margin-bottom: 30px
	
	#leftcontent
		//border: 2px solid red
		width: 45%
		vertical-align: top
		float: left
		margin-bottom: 0

		h1 
			font-size: 40px
			padding: 0 auto
			text-align: center
			font-family: "GothamBold", sans-serif

			img
				position: absolute
				width: 55px

			img:first-child
				margin-left: -80px
				margin-top: -20px


			img:last-child
				margin-left: 30px
				//margin-top: -20px

		.help
			width: 94%
			text-align: justify
			padding-left: 0
			margin-top: 0

			li
				list-style-type: none
				margin-bottom: 17px

	#rightcontent
		background-color: white
		float: right
		// border: 2px solid green
		width: 45%
		vertical-align: top
		margin-bottom: 0
		margin-left: 5%
		padding-left: 30px
		box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		-moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		-webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		
		h2
			padding-right: 31px

		.chiffrement
			display: none
		

		form

			textarea
				resize: none
				background: $gris
				font-size: 20px
				font-family: "Gotham", sans-serif
				border: none
				color: $violet
				line-height: 1.5
				height: 200px
				width: 94%
				padding: 20px
				margin-bottom: 10px

			input:focus
				outline: none

			input[type="submit"]
				color: white
				background: $jaune
				padding: 5px 17%
				font-size: 30px
				border: none
				font-weight: lighter
				font-family: "Gotham", sans-serif
				display: inline-block
				vertical-align: top
				margin-right: 6%
				float: right
				-webkit-appearance: none

			select
				border-radius: 0
				width: 40%
				padding: 5px 10%
				line-height: 1
				border: 0
				height: 45px
				-webkit-appearance: none
				font-family: "Gotham", sans-serif
				font-size: 20px
				background: url(../../assets/img/fleche-select.png) no-repeat right #ddd

		#crypt
			width: 93.5%
			text-align: center
			line-height: 35px

			input[type="password"]
				border: none
				background: $gris
				padding: 10px 15px

			.key
				width: 20px
				vertical-align: middle



	#compteur
		width: 300px
		text-align: center
		margin: 0 auto

		p
			display: inline-block
			font-size: 18px
			font-family: 'Arvo', serif
			padding-bottom: 100px


	footer
		background: $footer
		background-repeat: repeat-x
		height: 50px
		width: 100%
		text-align: center
		margin-bottom: 0px
		position: fixed
		bottom: 0px
		opacity: 0.9


		ul
			display: inline-block
			color: white
			margin-bottom: -10px
			margin-top: 0

			li
				display: inline-block
				text-decoration: none 
				font-size: 13px

				img
					width: 37px
					margin: -24px 20px -22px 20px
					display: block

				a
					color: $gris

				p
					display: block
					margin-right: 60px
					margin-top: 20px





@media all and (max-width: 1100px)
	
	body

		#leftcontent, #rightcontent

			h2
				font-size : 25px

		#leftcontent

			h1
				font-size: 35px
				margin-bottom: 40px

				img
					position: absolute
					width: 35px

				img:first-child
					margin-left: -62px
					margin-top: -10px


				img:last-child
					margin-left: 17px
					margin-top: 15px
		#rightcontent

			form

				input[type="submit"]
					padding: 5px 15%
					font-size: 30px
					display: inline-block
					vertical-align: top
					margin-right: 8.5%
					float: right

				select
					width: 40%
					padding: 5px 8%







@media all and (max-width: 830px)
	body

		#navbar
			padding-right: 0

			.hidden, li
				display: none

			a img
				margin: 0 auto
				display: block
				position: relative
				width: 160px
				float: none
				padding-top: 7px



		#allcontent
			margin-bottom: 100px
		#leftcontent, #rightcontent

			h2

				font-family: 'Arvo', serif
				color: $violet
				font-weight: normal
				font-size : 25px
				margin: 15px 0

			hr
				border: solid 2px $violet
				width: 91%
				margin-left: 0

		#leftcontent
			display: none

		#rightcontent
			display: block
			padding-top: 15px
			padding-left: 5%
			float: none
			//border: 2px solid green
			width: 94%
			margin: 30px auto
			vertical-align: top
			padding-bottom: 1px

			h2:last-child
				padding-top: 20px

			form
				textarea
					font-size: 20px
					height: 200px
					width: 91%
					padding: 20px

				input[type="submit"]
					padding: 5px 15%
					font-size: 30px
					margin-right: 8.5%
					float: right


				select
					float: left
					padding: 5px 8%
					width: 39%
					font-size: 18px

		footer
			margin-top: 50px

			ul
				padding-left: 0

				li

					p
						width: 246px
						margin-right: 10px
						margin-top: 10px
					img
						margin: -30px 10px -22px 10px





@media all and (max-width: 500px)

	body
				
		#allcontent
			display: block
			width: 95%
			margin: 0 auto
			position: relative

		#leftcontent, #rightcontent

			h2
				font-weight: normal
				font-size : 25px
				margin: 15px 0

			hr
				width: 90%
				margin-left: 0

		#leftcontent
			display: none

		#rightcontent
			display: block
			padding-top: 15px
			padding-left: 5%
			float: none
			width: 94%
			margin: 15px auto
			vertical-align: top
			padding-bottom: 1px

			h2:last-child
				padding-top: 20px

			form
				textarea
					font-size: 20px
					border: none
					line-height: 1.5
					height: 250px
					width: 91%
					padding: 20px

				input[type="submit"]
					padding: 5px 15%
					font-size: 30px
					margin-right: 9%
					float: right


				select
					float: left
					padding: 5px 8%
					width: 39%
					font-size: 18px

		footer
			height: 70px

			ul

				li

					p
						margin: 20px 10px 0 10px

@media all and (max-width: 320px)

	body

		#rightcontent
			
			h2
				padding-right: 31px
				font-size: 18px
				margin-top: 0

			hr
				border: solid 1px $violet
				margin-bottom: 15px

			.chiffrement
				display: none

			form
				textarea
					font-size: 17px
					border: none
					line-height: 1.5
					height: 200px
					width: 91%
					padding: 20px

				input[type="submit"]
					font-size: 25px
					margin-right: 9%
					float: right
					height: 37px

				hr
					border: solid 1px $violet
					margin-bottom: 15px



				select
					border-radius: 0
					width: 40%
					padding: 5px 6%
					height: 37px
					-webkit-appearance: none
					font-size: 20px
					background: url(../../assets/img/fleche-select.png) no-repeat right #ddd
					background-size: 37px
				
		#compteur

			p
				padding-bottom: 30px

		footer
			height: 115px
			margin-top: 0
			position: relative

			ul

				li:first-child
					margin: 0 auto
					padding-bottom: 30px

					p
						margin: 20px 10px 0 10px





