$violetclair: #b68dc0
$jaune : #F4B532
$gris : #F0F0F0
$violet : #482F5D
$footer : #191919
@font-face 
	font-family: "Gotham"
	src: url(../fonts/Gotham-ExtraLight.otf)


body
	background : $gris
	font-weight : lighter
	margin: -16px auto 
	font-family: "Gotham"

	#navbar
		background : $violet
		font-family: 'Arvo', serif
		color: white
		vertical-align: top
		height: 70px
		padding-right: 10%
		margin-bottom: 60px

		.menu 
			float: left
			padding: 28px
			display: none

		img
			float: left
			width: 160px
			margin: 7px 12%

		a
			text-decoration: none
			color: $gris
			font-size: 20px
			font-weight: normal
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease

		ul

			li
				display: inline-block
				text-decoration: none
				padding: 20px 40px
				float: right

		a:hover
			color: $jaune
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease


	h2
		font-family: 'Arvo', serif
		margin: 40px auto
		font-size: 41px
		width: 403px
		color: $violet
		text-align: center

	#share
		width: 100%
		margin: 0 auto
		margin-bottom: 150px
		text-align: center

		a
			display: inline-block
		#fb-root
			display: inline-block
		.fb-share-button
			display: inline-block
			top: -5px
		form
			display: inline-block
			margin-left: 35px
			position: relative
			top: -5px

		.share-url
			display: inline-block
			width: auto
			top: -5px


	.contenu
		width: 40%
		margin: 50px auto 0px
		background: white
		box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		-moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		-webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1)
		padding: 40px 10%
		min-height: 150px
		padding-bottom: 20px

		p
			margin: 0 auto
			font-size: 20px
			text-align: center
			vertical-align: center
			line-height: 30px
			overflow: hidden
			text-overflow: ellipsis

		h3
			font-family: Arvo, 'serif'
			letter-spacing: -1px
			text-align: center
			margin-top: 55px
			font-size: 15px

		#life
			text-align: center
			margin-top: -10px
			color: $violet
			font-weight: bold
			font-size: 24px


	.resonne
		margin: 0 auto
		width: 40%
		padding: 10px 10%
		background: $jaune
		text-align: center
		margin-bottom: 20px
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		-o-transition: all 0.3s ease
		transition: all 0.3s ease

		a
			text-decoration: none
			color: white
			margin: 0 auto
			font-size: 25px
			border: none
			font-weight: lighter
			font-family: "Gotham", sans-serif
			text-align: center
			padding: 10px 21%

	.resonne:hover
		background: $violet
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		-o-transition: all 0.3s ease
		transition: all 0.3s ease

	.ajout
		color: $violet
		font-family: 'Arvo', serif
		font-weight: bold
		font-size: 26px
		letter-spacing: -3px
		display: block
		text-align: center
		margin-bottom: 30px

	footer
		background: $footer
		background-repeat: repeat-x
		height: 80px
		width: 100%
		text-align: center
		margin-bottom: 0px
		position: fixed
		bottom: 0px
		opacity: 0.9

		ul
			display: inline-block
			color: white
			margin-bottom: -10px
			margin-top: 0

			li
				display: inline-block
				text-decoration: none 
				font-size: 13px

				img
					width: 50px
					margin: 15px 20px -22px 20px
					display: block

				a
					color: $gris

				p
					margin-top: -10px
					display: block
					margin-right: 60px




