$violetclair: #b68dc0
$jaune : #ffce00
$violetfonce : #2E2736

body
	font-family : quicksand
	margin: 0
	background-image: url(../img/bg-echo.jpg)
	background-size: 100%
	color: white

	.connect
		width: 600px
		//border: 2px green solid
		display: inline-block
		vertical-align: top

		h1
			font-size: 80px
			text-align: right
			font-family: 'Patua One', cursive

		img
			width: 300px
			display: block
			margin-top: -80px
			padding-left: 320px


	img
		width: 500px
		margin: 30px auto
		position: relative
		display: block

	ul
		float: right
		position:relative
		margin: -180px 60px 0 0

		li
			border: solid 2px white
			border-radius: 10px
			padding: 10px 5px
			display: block
			margin: 30px 0
			transition: all 0.5s ease

			a
				text-decoration: none
				position: relative
				font-size: 20px
				transition: all 0.5s ease
				color: white
				padding: 20px

			a:hover
				color: $violetfonce
				font-weight: bold

		li:hover
			background: white

	form
		font-size: 20px
		font-weight: lighter
		width: 540px


		input
			background: none
			font-family: quicksand
			color: white
			font-size: 20px
<<<<<<< HEAD
<<<<<<< HEAD
			padding: 15px
			width: 500px
			border-radius: 18px
			border: 2px white solid

=======
=======
>>>>>>> c388c88f6f4d19e8fea55dd1a21aa65d366ae675
			padding: 15px 
			width: 500px
			border-radius: 18px
			border: 2px white solid
	
<<<<<<< HEAD
>>>>>>> 7b5d3275552b843613fdf592b293a57403a06825
=======
>>>>>>> c388c88f6f4d19e8fea55dd1a21aa65d366ae675
		input[type=submit]
			color: white
			background: $jaune
			padding: 15px 0 10px 0
			width: 350px
			font-size: 24px
			border: none
			border-radius: 15px
			font-size: 35px
			font-family: quicksand
			font-weight: lighter
			margin: 50px auto
			display: block

	.formulaire
		//border: 2px red solid
		width: 700px
		display: inline-block
		margin-left: 100px
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> c388c88f6f4d19e8fea55dd1a21aa65d366ae675





<<<<<<< HEAD
>>>>>>> 7b5d3275552b843613fdf592b293a57403a06825
=======
>>>>>>> c388c88f6f4d19e8fea55dd1a21aa65d366ae675
