@font-face {
  font-family: "gotham";
  src: url(../fonts/Gotham-ExtraLight.otf); }
body {
  background: #F0F0F0;
  font-weight: lighter;
  margin: 0 auto;
  font-family: "gotham"; }
  body h1 {
    font-family: "Arvo", serif;
    color: #482F5D;
    font-size: 250%;
    width: 80%;
    text-align: center;
    margin: 30px auto; }
  body table {
    width: 90%;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    padding: 10px; }
    body table tr:first-child {
      color: #482F5D;
      font-family: "Arvo", serif; }
    body table tr {
      margin-bottom: 40px; }
    body table td {
      max-width: 840px;
      padding-right: 20px;
      padding-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis; }
    body table td:last-child {
      width: 80px;
      padding-right: 0; }
      body table td:last-child a {
        text-decoration: none;
        color: #482F5D;
        margin: 0 auto;
        display: block;
        width: 20px;
        text-align: center;
        padding: 6px 5px 4px 5px;
        border: 2px #482F5D solid;
        border-radius: 70px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      body table td:last-child a:hover {
        background: #482F5D;
        color: white;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
  body #profil {
    width: 220px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px; }
    body #profil a:first-child {
      text-decoration: none;
      background: #482F5D;
      color: #F0F0F0;
      padding: 10px 20px;
      display: block;
      white-space: normal;
      margin: 10px auto;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #profil a:first-child:hover {
      background: #F4B532;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #profil a:last-child {
      text-decoration: none;
      color: white;
      padding: 5px 10px;
      background: #d6d6d6;
      display: block;
      font-size: 12px;
      width: 150px;
      margin: 0 auto;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #profil a:last-child:hover {
      background: #bdbdbd;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  body footer {
    background: #191919;
    background-repeat: repeat-x;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    opacity: 0.9; }
    body footer ul {
      display: inline-block;
      color: white;
      margin-bottom: -10px;
      margin-top: 0; }
      body footer ul li {
        display: inline-block;
        text-decoration: none;
        font-size: 13px; }
        body footer ul li img {
          width: 37px;
          margin: -24px 20px -22px 20px;
          display: block; }
        body footer ul li a {
          color: #F0F0F0; }
        body footer ul li p {
          display: block;
          margin-right: 60px;
          margin-top: 20px; }

@media all and (max-width: 830px) {
  body {
    padding-right: 0;
    margin-top: -7px; }
    body h1 {
      font-family: "Arvo", serif;
      color: #482F5D;
      font-size: 27px;
      width: 343px;
      margin: 30px auto; }
    body footer {
      margin-top: 50px; }
      body footer ul {
        padding-left: 0; }
        body footer ul li p {
          width: 246px;
          margin-right: 10px;
          margin-top: 10px; }
        body footer ul li img {
          margin: -30px 10px -22px 10px; } }
@media all and (max-width: 500px) {
  body table {
    font-size: 14px; }
  body footer {
    height: 70px; }
    body footer ul li p {
      margin: 20px 10px 0 10px; } }
@media all and (max-width: 320px) {
  body h1 {
    font-size: 20px; }
  body footer {
    height: 115px;
    margin-top: 0;
    position: relative; }
    body footer ul li:first-child {
      margin: 0 auto;
      padding-bottom: 30px; }
      body footer ul li:first-child p {
        margin: 20px 10px 0 10px; } }

/*# sourceMappingURL=member.css.map */
