body {
  background: #F0F0F0;
  font-weight: lighter;
  margin: 0;
  font-family: gotham; }
  body #navbar {
    background: #482F5D;
    font-family: "Arvo", serif;
    color: white;
    vertical-align: top;
    height: 70px;
    padding-right: 10%; }
    body #navbar .menu {
      float: left;
      padding: 28px;
      display: none;
      width: 200px; }
    body #navbar img {
      float: left;
      width: 160px;
      margin: 7px 12%; }
    body #navbar .aide {
      display: none; }
    body #navbar a {
      text-decoration: none;
      color: #F0F0F0;
      font-size: 20px;
      font-weight: normal;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #navbar ul li {
      display: inline-block;
      text-decoration: none;
      padding: 20px 40px;
      float: right; }
    body #navbar a:hover {
      color: #F4B532;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  body #allcontent {
    display: block;
    width: 77%;
    margin: 0 auto;
    max-height: 800px; }
  body #leftcontent, body #rightcontent {
    display: inline-block;
    vertical-align: top;
    margin: 30px auto; }
    body #leftcontent h2, body #rightcontent h2 {
      font-family: "Arvo", serif;
      color: #482F5D;
      font-weight: normal;
      font-size: 33px;
      margin: 20px 0; }
    body #leftcontent hr, body #rightcontent hr {
      border: solid 2px #482F5D;
      width: 93.5%;
      margin-left: 0;
      margin-bottom: 30px; }
  body #leftcontent {
    width: 45%;
    vertical-align: top;
    float: left;
    margin-bottom: 0; }
    body #leftcontent h1 {
      font-size: 40px;
      padding: 0 auto;
      text-align: center; }
      body #leftcontent h1 img {
        position: absolute;
        width: 55px; }
      body #leftcontent h1 img:first-child {
        margin-left: -80px;
        margin-top: -20px; }
      body #leftcontent h1 img:last-child {
        margin-left: 30px; }
    body #leftcontent .help {
      width: 94%;
      text-align: justify;
      padding-left: 0;
      margin-top: 0; }
      body #leftcontent .help li {
        list-style-type: none;
        margin-bottom: 17px; }
  body #rightcontent {
    background-color: white;
    float: right;
    width: 45%;
    vertical-align: top;
    margin-bottom: 0;
    margin-left: 5%;
    padding-left: 30px;
    box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1); }
    body #rightcontent h2 {
      padding-right: 31px; }
    body #rightcontent .chiffrement {
      display: none; }
    body #rightcontent form textarea {
      resize: none;
      background: #F0F0F0;
      font-size: 20px;
      font-family: gotham;
      border: none;
      color: #482F5D;
      line-height: 1.5;
      height: 200px;
      width: 94%;
      padding: 20px;
      margin-bottom: 40px; }
    body #rightcontent form input[type="submit"] {
      color: white;
      background: #F4B532;
      padding: 5px 17%;
      font-size: 30px;
      border: none;
      font-weight: lighter;
      font-family: gotham;
      display: inline-block;
      vertical-align: top;
      margin-right: 6%;
      float: right; }
    body #rightcontent form select {
      border-radius: 0;
      width: 40%;
      padding: 5px 10%;
      line-height: 1;
      border: 0;
      height: 45px;
      -webkit-appearance: none;
      font-family: gotham;
      font-size: 20px;
      background: url(../../assets/img/fleche-select.png) no-repeat right #ddd; }
    body #rightcontent form a {
      color: #482F5D;
      text-decoration: none;
      width: 90%;
      display: block;
      background: #F0F0F0;
      padding: 10px;
      margin-bottom: 10px; }
    body #rightcontent form input:focus {
      outline: none; }
  body footer {
    background: #191919;
    background-repeat: repeat-x;
    height: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: 0px;
    margin-top: 650px; }
    body footer ul {
      display: inline-block;
      color: white;
      margin-bottom: -10px;
      margin-top: 0; }
      body footer ul li {
        display: inline-block;
        text-decoration: none;
        font-size: 13px; }
        body footer ul li img {
          width: 50px;
          margin: 15px 20px -22px 20px;
          display: block; }
        body footer ul li a {
          color: #F0F0F0; }
        body footer ul li p {
          margin-top: -10px;
          display: block;
          margin-right: 60px; }

/*# sourceMappingURL=new.css.map */
