html,body{
    overflow: hidden;

    
}

}html{
    
    
/*@import url(http://fonts.googleapis.com/css?family=Quicksand);
    @import url(http://fonts.googleapis.com/css?family=Ubuntu);*/
    @import url(http://fonts.googleapis.com/css?family=Roboto:100italic);
    
margin: 0 auto;
}
body{
    background-color:#3a2252;
    

}    
p{
    position: relative;
    text-align: center;
    
    font-family: 'quicksand';
    color:white;
    font-weight: 700;
    font-size: 9em;
    
}
#content{
    z-index: 4000;
}
h1,h2,h3{
    color:white;
}

h1{
    
    position: relative;
    bottom: 150px;
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    opacity: 0.6;
    font-weight: 500;
        
}
h2{
    
    position: relative;
    bottom: 170px;
    text-align: center;
    font-family: 'quicksand';
    font-weight:100;
    font-size-adjust: auto;
    opacity: 0.6;
}
h3{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
    
}
img{
    position: relative;
    right: 15px;
    top:5px;

}
img:hover{
    position: relative;
    width:77px;
    height:26px;
    

}
a{
    text-decoration: none;

    
}

.Ovale1 {
    position: absolute;
    top:-200px;
    left: 80px;
    margin: 0 auto;
    background:#3c2754;
    border-radius:50%;
    width:1200px;
    height:1200px;
    border:2px solid #3c2754;
    

}
.Ovale2 {
    position: absolute;
    top:100px;
    left: 100px;
    margin: 0 auto;
    background:#3d2d53;
    border-radius:50%;
    width:1000px;
    height:1000px;
    border:2px solid #3d2d53;
    

}
.Ovale3 {
    position: absolute;
    top:80px;
    left: 100px;
    margin: 0 auto;
    background-color:#423458;
    transition: 0s background;
    border-radius:50%;
    width:800px;
    height:800px;
    border:2px solid #423458;
    

}
.Ovale3:hover {
    position: absolute;
    top:80px;
    left: 100px;
    margin: 0 auto;
    background:#5e5470;
    border-radius:50%;
    width:800px;
    height:800px;
    border:2px solid #5e5470;
    transition-delay: 1s background;
    
}