body {
  background: #F0F0F0;
  font-weight: lighter;
  margin: -16px auto;
  font-family: gotham; }
  body #navbar {
    background: #482F5D;
    font-family: "Arvo", serif;
    color: white;
    vertical-align: top;
    height: 70px;
    padding-right: 10%;
    margin-bottom: 60px; }
    body #navbar .menu {
      float: left;
      padding: 28px;
      display: none; }
    body #navbar img {
      float: left;
      width: 160px;
      margin: 7px 12%; }
    body #navbar a {
      text-decoration: none;
      color: #F0F0F0;
      font-size: 20px;
      font-weight: normal;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #navbar ul li {
      display: inline-block;
      text-decoration: none;
      padding: 20px 40px;
      float: right; }
    body #navbar a:hover {
      color: #F4B532;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  body h2 {
    font-family: "Arvo", serif;
    margin: 40px auto;
    font-size: 41px;
    width: 403px;
    color: #482F5D;
    text-align: center; }
  body #share {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 80px; }
  body .contenu {
    width: 40%;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    padding: 40px 10%;
    min-height: 150px;
    padding-bottom: 20px; }
    body .contenu p {
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      vertical-align: center;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis; }
    body .contenu h3 {
      font-family: Arvo, "serif";
      letter-spacing: -1px;
      text-align: center;
      margin-top: 100px;
      font-size: 15px; }
    body .contenu #life {
      text-align: center;
      margin-top: -10px;
      color: #482F5D;
      font-weight: bold;
      font-size: 24px; }
  body .resonne {
    margin: 0 auto;
    width: 40%;
    padding: 10px 10%;
    background: #F4B532;
    text-align: center;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body .resonne a {
      text-decoration: none;
      color: white;
      margin: 0 auto;
      font-size: 25px;
      border: none;
      font-weight: lighter;
      font-family: gotham;
      text-align: center;
      padding: 10px 21%; }
  body .resonne:hover {
    background: #482F5D;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .ajout {
    color: white;
    font-family: "Arvo", serif;
    width: 90px;
    font-size: 20px;
    letter-spacing: -2px;
    text-align: center;
    margin: -27px auto;
    padding-bottom: 90px;
    position: absolute;
    left: 60%; }
  body footer {
    background: #191919;
    background-repeat: repeat-x;
    height: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: 0px;
    position: fixed;
    margin-top: 600px; }
    body footer ul {
      display: inline-block;
      color: white;
      margin-bottom: -10px;
      margin-top: 0; }
      body footer ul li {
        display: inline-block;
        text-decoration: none;
        font-size: 13px; }
        body footer ul li img {
          width: 50px;
          margin: 15px 20px -22px 20px;
          display: block; }
        body footer ul li a {
          color: #F0F0F0; }
        body footer ul li p {
          margin-top: -10px;
          display: block;
          margin-right: 60px; }

/*# sourceMappingURL=show.css.map */
