@font-face {
  font-family: "Gotham";
  src: url(../fonts/Gotham-ExtraLight.otf); }
body {
  background: #F0F0F0;
  font-weight: lighter;
  margin: -16px auto;
  font-family: "Gotham"; }
  body #navbar {
    background: #482F5D;
    font-family: "Arvo", serif;
    color: white;
    vertical-align: top;
    height: 70px;
    padding-right: 10%;
    margin-bottom: 60px; }
    body #navbar .menu {
      float: left;
      padding: 28px;
      display: none; }
    body #navbar img {
      float: left;
      width: 160px;
      margin: 7px 12%; }
    body #navbar a {
      text-decoration: none;
      color: #F0F0F0;
      font-size: 20px;
      font-weight: normal;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #navbar ul li {
      display: inline-block;
      text-decoration: none;
      padding: 20px 40px;
      float: right; }
    body #navbar a:hover {
      color: #F4B532;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  body h2 {
    font-family: "Arvo", serif;
    margin: 40px auto;
    font-size: 41px;
    width: 403px;
    color: #482F5D;
    text-align: center; }
  body #share {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px; }
    body #share a {
      display: inline-block; }
    body #share #fb-root {
      display: inline-block; }
    body #share .fb-share-button {
      display: inline-block;
      top: -5px; }
    body #share form {
      display: inline-block;
      margin-left: 35px;
      position: relative;
      top: -5px; }
    body #share .share-url {
      display: inline-block;
      width: auto;
      top: -5px; }
  body .contenu {
    width: 40%;
    margin: 50px auto 0px;
    background: white;
    box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(119, 119, 119, 0.1);
    padding: 40px 10%;
    min-height: 150px;
    padding-bottom: 20px; }
    body .contenu p {
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      vertical-align: center;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis; }
    body .contenu .create {
      font-size: 15px;
      margin-top: 20px;
      font-weight: bolder; }
    body .contenu h3 {
      font-family: Arvo, "serif";
      letter-spacing: -1px;
      text-align: center;
      margin-top: 45px;
      font-size: 15px; }
    body .contenu #life {
      text-align: center;
      margin-top: -10px;
      color: #482F5D;
      font-weight: bold;
      font-size: 24px; }
  body .resonne {
    margin: 0 auto;
    width: 40%;
    padding: 10px 10%;
    background: #F4B532;
    text-align: center;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body .resonne a {
      text-decoration: none;
      color: white;
      margin: 0 auto;
      font-size: 25px;
      border: none;
      font-weight: lighter;
      font-family: "Gotham", sans-serif;
      text-align: center;
      padding: 10px 21%; }
  body .resonne:hover {
    background: #482F5D;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .ajout {
    color: #482F5D;
    font-family: "Arvo", serif;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: -2px;
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  body #come {
    display: block;
    margin: 0 auto;
    width: 400px;
    font-family: "Arvo", serif;
    margin-bottom: 100px;
    text-align: center;
    color: #482F5D;
    font-size: 17px; }
    body #come .youcreate {
      width: 100%; }
  body footer {
    background: #191919;
    background-repeat: repeat-x;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    opacity: 0.9; }
    body footer ul {
      display: inline-block;
      color: white;
      margin-bottom: -10px;
      margin-top: 0; }
      body footer ul li {
        display: inline-block;
        text-decoration: none;
        font-size: 13px; }
        body footer ul li img {
          width: 37px;
          margin: -24px 20px -22px 20px;
          display: block; }
        body footer ul li a {
          color: #F0F0F0; }
        body footer ul li p {
          display: block;
          margin-right: 60px;
          margin-top: 20px; }

@media all and (max-width: 800px) {
  body {
    margin: 0 auto;
    padding-right: 0; }
    body #navbar {
      padding-right: 0px; }
      body #navbar .menu {
        float: left;
        padding: 8px 0 0 15px;
        display: inline-block;
        margin-left: 20px;
        width: 50px;
        position: absolute; }
      body #navbar a img {
        float: none;
        width: 160px;
        margin: 0 auto;
        display: block;
        padding-top: 7px; }
    body .contenu {
      width: 75%;
      margin: 0px auto;
      padding: 40px; }
    body .resonne {
      width: 75%;
      padding: 10px 40px;
      margin-bottom: 40px; }
      body .resonne a {
        padding: 10px 20%; }
    body footer {
      margin-top: 50px;
      height: 50px; }
      body footer ul {
        padding-left: 0; }
        body footer ul li p {
          margin: 20px 10px 0 10px;
          width: 246px;
          margin-right: 10px;
          margin-top: 10px; }
        body footer ul li img {
          margin: -30px 10px -22px 10px; } }
@media all and (max-width: 320px) {
  body #navbar {
    paddind-right: 0;
    margin-bottom: 30px; }
  body h2 {
    font-family: "Arvo", serif;
    margin: 0 auto;
    font-size: 25px;
    width: 100%;
    color: #482F5D;
    text-align: center; }
  body #share {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px; }
    body #share a {
      display: inline-block; }
    body #share #fb-root {
      display: inline-block; }
    body #share .fb-share-button {
      display: inline-block;
      top: -5px; }
    body #share form {
      display: inline-block;
      margin-left: 0;
      position: relative;
      top: -5px;
      margin-top: 10px; }
    body #share .share-url {
      display: inline-block;
      width: auto;
      top: -5px; }
  body .contenu {
    width: 85%;
    margin: 30px auto 0px;
    background: white;
    padding: 40px 10px;
    min-height: 150px;
    padding-bottom: 20px; }
    body .contenu p {
      margin: 0 auto;
      font-size: 20px;
      text-align: center;
      vertical-align: center;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis; }
    body .contenu h3 {
      margin-top: 55px;
      font-size: 15px; }
    body .contenu #life {
      font-size: 20px; }
  body .resonne {
    margin: 0 auto;
    width: 85%;
    padding: 10px;
    margin-bottom: 20px; }
    body .resonne a {
      text-decoration: none;
      color: white;
      margin: 0 auto;
      font-size: 22px;
      border: none;
      font-weight: lighter;
      font-family: "Gotham", sans-serif;
      text-align: center;
      padding: 10px 21%; }
  body .ajout {
    color: #482F5D;
    font-family: "Arvo", serif;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -2px;
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  body #come {
    display: block;
    margin: 0 auto;
    width: 300px;
    font-family: "Arvo", serif;
    margin-bottom: 50px;
    text-align: center;
    color: #482F5D;
    font-size: 12px; }
    body #come .youcreate {
      width: 100%; }
  body footer {
    height: 115px;
    margin-top: 0;
    position: relative; }
    body footer ul li:first-child {
      margin: 0 auto;
      padding-bottom: 30px; }
      body footer ul li:first-child p {
        margin: 20px 10px 0 10px; } }

/*# sourceMappingURL=show.css.map */
