
    <!DOCTYPE HTML>
    <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>404 no found</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="css/page404.css" />
        
        
        <script src="http://use.edgefonts.net/courier-prime:i7,n7,i4,n4:all;quicksand:i4,n3,i7,n7,n4,i3:all;ubuntu:n4,i4,n7,i7,n3,i3,n5,i5:all.js"></script>
       
    </head>
    
    <body>
    <div class="Ovale1">
        <div class="Ovale2">
            <div class="Ovale3">
            =  
            </div>
        </div>
    </div>
    <div id="content">
    
     
      <p>4<img src="images/Oecho.png" alt=""/>4<p>
       <h1>Il semble que vous êtes perdu</h1>
       <h2>la page que vous recherchez n'existe pas</h2>
       
       <a href="#">
       <h3><img id="Plane" src="images/Plane2.png"/>Retour à la page d'accueil</h3>
       </a>
    </div>
    
        
        
    </body>
</html>